/***Navigation bar***/
.navbar {
    background-color: #4b5d67;
}

.navbar-brand {
    color: #fff;
    font-size: 3vmax;
}

.nav-item {
    font-size: medium;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: wheat;
    font-weight: bold;
}

/*** Content ***/
.container-fluid {
    padding:0;
}


/*** Product ***/
#product {
    background-color: #c7c7c7;
    padding: 14% 2%;
}

.logo {
    width: 40vmax;
}

.head-logo {
    text-align: center;
}

.head-text {
    text-align: center;
}

.product-heading {
    font-size: 4vmax;
}

.product-sub-text {
    font-size: 2.5vmax;
}

.head-button {
    width:40%;
    margin: 2%;
    font-size: 2vmax;
}

.button-image {
    width:20%;
    margin-right: 1rem;
}


/*** Benefits***/
.benefits-heading {
    color: #fff;
    font-size: 4vmax;
}

#benefits {
    background-color: #4b5d67;
    text-align: center;
    margin:auto;
    padding: 5% 0;

}

.slide-info {
    margin:auto;
}

.slide-image {
    width:100%;
}

/***Services***/
#services {
    background-color: #c7c7c7;
    text-align: center;
    padding: 2rem 0;
}

.services-heading {
    font-size: 4vmax;
}

.service-box {
    margin: 3% 10% 0;
}

.service-title {
    font-size: 3vmax;
}

.service-content {
    font-size: 2vmax;
    text-align: left;
    padding-left: 1rem;
}

.service-icons {
    width:100%;
}

/***Pricing***/
#pricing {
    background-color: #4b5d67;
    padding: 12% 2%;
}

.pricing-heading {
    color: #fff;
    font-size: 4vmax;
}

.card-header {
    background-color: #c7c7c7;
}

.pro {
    background-color: #4b5d67;
    color: #fff;
}
.pro:hover {
    color: wheat;
}

.card-body {
    background-color: whitesmoke;
}

.card-body:hover {
    background-color: #bbbbbb;
}


/***Footer***/
#footer {
    background-color:#c7c7c7;
}

.social-media {
    text-align: center;
}

h4 {
    display: inline-block;
    margin: 2% 4%;
    font-size: smaller;
}
.lnk {
    color: darkslategrey;
}
.lnk:hover {
    color: darkslategray;
    text-decoration: none;
}

.copyright {
    margin:0;
    text-align: center;
    font-size: smaller;
}

/*****About*****/
#about {
    background-color:#c7c7c7;
    width: 100%;
    margin: 0;
    padding: 10% 2%;
}

.about-heading {
    font-size: 3vmax;
}

.founder-video {
    margin-top:2rem;
}

/****About Us***/
#about-us {
    background-color: #4b5d67;
    color: #fff;
    padding: 10% 10%;
}

.about-sub-heading {
    font-size: 2.5vmax;
    padding-left: 2rem;
}

.middle-content {
    font-size: 2vmax;
    padding-left: 2rem;
}

.about-image {
    text-align: center;
}

.web-icons {
    width: 100%;
}

/***Why US?***/
#why-us {
    background-color:#c7c7c7;
    padding: 10% 3%;
}

.why-us-heading {
    font-size: 3vmax;
}

.why-us-content {
    font-size: 2vmax;
}

/*****Meet the Team***/
#meet-the-team {
    background-color: #4b5d67;
    padding: 10% 3%;
    color: #fff;
}

.meet-heading {
    font-size: 3vmax;
}

.meet-box {
    text-align: center;
}

.meet-image {
    border-radius: 100%;
    width:50%;
    padding: 2rem 0;
}

.meet-name {
    font-size: 3vmax;
}

.meet-content {
    font-size: 2.5vmax;
}

/******Contact Us******/
#contact {
    background-color: #c7c7c7;
    padding: 8% 4%;
}

.contact-heading {
    font-size: 3vmax;
    padding-top:3rem;
}

lable {
    font-size: 2.2vmax;
    
}

.contact-lnk {
    color:  #4b5d67;
}


.contact-lnk:hover {
    font-weight: bolder;

}