
<div class="row services">
  <div class="services-container col-md-4">
    <div class="services-card">
      <div class="services-icon">
        <img src="../../assets/design.png" width="100%"/>
      </div>

      <div class="services-content">
        <h6 class="services-content-details-title">
          Design
        </h6>
        <p class="services-content-details">
          but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>

  <div class="services-container col-md-4">
    <div class="services-card">
      <div class="services-icon">
        <img src="../../assets/develop.png" width="100%"/>
      </div>

      <div class="services-content">
        <h6 class="services-content-details-title">
          Develop
        </h6>
        <p class="services-content-details">
          but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>

  <div class="services-container col-md-4">
    <div class="services-card">
      <div class="services-icon">
        <img src="../../assets/ecommerse.png" width="100%"/>
      </div>

      <div class="services-content">
        <h6 class="services-content-details-title">
          eCommerse
        </h6>
        <p class="services-content-details">
          but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>



</div>
